*.p8
*.pem
*.pub
snowflake_rsa*
keys/
.env

**/target/
**/dbt_packages/
**/logs/
dbt.log

.venv/
venv/
ENV/
__pycache__/
*.py[cod]

logs/
airflow.db
airflow.cfg

.DS_Store
Thumbs.db
.idea/
.vscode/

docker/postgres/data/